export SESSION_SECRET=SuperStrongSecret
export VCAP_SERVICES='{
  "xsuaa": [
    {
      "name": "gorilla-uaa",
      "credentials": {
        "clientid": "",
        "clientsecret": "",
        "url": ""
      }
    }
  ],
  "fs-storage": [
    {
      "name": "gorilla-fs",
      "volume_mounts": [
        {
          "container_dir": "./quizzes"
        }
      ]
    }
  ]
}'
export VCAP_APPLICATION='{
  "uris": [
      "localhost:3000"
  ]
}'
