.quizCreator {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quizCreatorTitle {
    text-align: center;
    font-size: 4vh;
    color: black;
}

.quizCreatorQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.quizCreatorQuestion {
    text-align: center;
    font-size: 4vh;
    color: #0070c0;
}

.quizCreatorAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.quizCreatorAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizCreatorActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh
}

.quizCreatorButton {
    width: 15vh;
    height: 5vh;
    font-size: 3vh;
    font-family: inherit;
}