.admin {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.adminBack {
    color: inherit;
    text-decoration: none;
}

.admin .quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.admin .quiz {
    position: relative;
    height: min(30vw, 30vh);
    width: min(30vw, 30vh);
    border-style: none;
    border-radius: min(1.5vw, 1.5vh);
    font-size: min(3.5vw, 3.5vh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.admin .quiz.add {
    background-color: #999999;
    color: inherit;
    text-decoration: none;
}

.admin .quiz .editButton {
    background-color: transparent;
    border-style: none;
    position: absolute;
    font-size: min(3vh, 3vw);
    left: 5%;
    top: 5%;
}

.admin .quiz .deleteButton {
    background-color: transparent;
    border-style: none;
    position: absolute;
    font-size: min(3vh, 3vw);
    right: 5%;
    top: 5%;
}

.admin .quiz .tags {
    width: 84%; /* width = 100% - 2 * 8% (for the margin) */
    position: absolute;
    bottom: 5%;
    right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
}

.admin .quiz .tag {
    font-size: min(2vw, 1.5vh);
    color: white;
    padding: 1%;
    margin: 1%;
    text-overflow: ellipsis;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
}
