html, body {
    margin: 0;
    height: 100%;
}

html {
    color: white;
    background: #262626;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

.background0 {
    /* background-color: #5F3475; */
    background-color: hsl(136, 100%, 28%);
    /* background-color: hsl(142, 52%, 63%); */
}

.background0Secondary {
    background-color: hsl(136, 100%, 20%);
    /* background-color: hsl(142, 52%, 55%); */
}

.background1 {
    /* background-color: #B993D0; */
    background-color: hsl(204, 100%, 36%);
    /* background-color: hsl(218, 79%, 63%); */
}

.background1Secondary {
    background-color: hsl(204, 100%, 28%);
    /* background-color: hsl(218, 79%, 55%); */
}

.background2 {
    /* background-color: #6B5775; */
    background-color: hsl(42, 92%, 49%);
    /* background-color: hsl(46, 61%, 61%); */
}

.background2Secondary {
    background-color: hsl(42, 92%, 41%);
    /* background-color: hsl(46, 61%, 53%); */
}

.background3 {
    /* background-color: #9E55C2; */
    background-color: hsl(299, 78%, 26%);
    /* background-color: hsl(18, 78%, 64%) */
}

.background3Secondary {
    background-color: hsl(299, 78%, 18%);
    /* background-color: hsl(18, 78%, 56%) */
}
