.myQuizzes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.myQuizzesBack {
    color: inherit;
    text-decoration: none;
}

.myQuizzes .quizzes {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.myQuizzes .quiz {
    color: white;
    position: relative;
    height: min(26vw, 26vh);
    width: min(26vw, 26vh);
    border-style: none;
    border-radius: min(1.5vw, 1.5vh);
    font-size: min(3.5vw, 3.5vh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.myQuizzes .quiz.add {
    background-color: #999999;
    color: white;
    text-decoration: none;
}

.myQuizzes .quiz .editButton, .myQuizzes .quiz .deleteButton {
    background-color: transparent;
    color: white;
    border-style: none;
    position: absolute;
    font-size: min(3vh, 3vw);
    top: 2%;
}

.myQuizzes .quiz .editButton {
    left: 5%;
}

.myQuizzes .quiz .deleteButton {
    right: 5%;
    padding-right: 0px;
}

.myQuizzes .quiz .tags {
    width: 84%; /* width = 100% - 2 * 8% (for the margin) */
    position: absolute;
    bottom: 5%;
    right: 8%;
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

.myQuizzes .quiz .tag {
    font-size: min(2vw, 1.5vh);
    color: white;
    padding: 1%;
    margin: 1%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.secondsToGuess {
    margin-left: 1em;
}
