.shell {
    height: 100%;
    width: 100%;
}

.shellHeader, .shellFooter {
    font-size: min(5vw, 5vh);
    width: 100%;
    position: fixed;
    background: black;
    color: white;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shellHeaderLeft, .shellFooterLeft {
    margin-left: 1vw;
    margin-left: 1vw;
}

.shellHeaderCenter {
    margin-left: auto;
}

.shellHeaderRight, .shellFooterRight {
    margin-left: auto;
    margin-right: 1vw;
}

.shellHeader {
    top: 0;
}

.shellFooter {
    bottom: 0;
}

.shellFooterLeft.shellLogo, .shellFooterRight.shellLogo {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.shellFooterLeft.shellLogo {
    background-image: url(cloud-curriculum.png);
}

.shellFooterRight.shellLogo {
    background-image: url(acdc.png);
}

.shellContentFit, .shellContentFullscreen {
    background: linear-gradient(to top, #aeccf0, #ffffff);
    overflow: hidden;
    /* seems without position:fixed and width:100% it automatically becomes scrollable on mobile phone, even if the content is not overflowing */
    position: fixed;
    width: 100%;
}

.shellContentFullscreen {
    height: 100%;
    padding-top: 0vh;
}

.shellContentFit {
    height: 80%;
    padding-top: 10vh;
}
