/* REVISE we use camel case for style classes */

.shell {
    height: 100%;
    width: 100%;
}

.shell-header,
.shell-footer {
    font-size: 5vh;
    width: 100%;
    position: fixed;
    background: black;
    color: white;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shell-header {
    top: 0;
}

.shell-footer {
    bottom: 0;
    flex-direction: row;
}

.shell-footer-left,
.shell-footer-right {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.shell-footer-left {
    background-image: url(cloud-curriculum.png);
}

.shell-footer-right {
    background-image: url(acdc.png);
}

.shell-content-fit, .shell-content-fullscreen {
    background: linear-gradient(to top, #aeccf0, #ffffff);
}

.shell-content-fullscreen {
    height: 100%;
    padding-top: 0vh;
}

.shell-content-fit {
    height: 80%;
    padding-top: 10vh;
}
