.quizInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quizInfo .title {
    margin-top: 1em;
    width: 80%;
    text-align: center;
    font-size: min(4vh, 4vw);
    color: inherit;
}

.quizInfo .question {
    background-color: transparent;
    border-style: none;
    font-size: min(4vh, 4vw);
    color: inherit;
    width: 80%;
    text-align: left;
}

.quizInfo hr {
    width: 80%;
}

.quizInfoMainActions button {
    margin-right: 1em;
    border: none;
    background-color: transparent;
    color: inherit;
}

.quizInfoBack {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

