.entrance {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: komika_textregular;
}

.entranceSearch {
    font-family: inherit;
    font-size: .7em;
    margin-right: 1em;
}

.entranceQuizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.entranceAdminButton {
    cursor: pointer;
}