.distributionQuestionAndAnswers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: content-box radial-gradient(grey, black);
}

.distributionQuestion {
    text-align: center;
    font-size: 4vh;
    color: white;
}

.distributionAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}