.shell {
    height: 100%;
}

.shell .header, .shell .footer {
    font-size: min(5vw, 5vh);
    width: 90%;
    margin-left: 5%;
    position: fixed;
    color: #767171;
    height: 10%;
    display: flex;
    align-items: center;
}

.shell .headerLeft, .shell .footerLeft {
    margin-left: 1vw;
    margin-right: 1vw;
}

.shell .headerLeftContent {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.shell .headerCenter {
    margin-left: auto;
}

.shell .headerRight, .shell .footerRight {
    margin-left: auto;
    margin-right: 1vw;
}

.shell .header {
    z-index: 1; /* REVISE needed so that background bubbles do not overlay header text.
                     needed because the transition screen requires full screen, which in turn is because of a design smell.
                     If REVISE in host.js line 122 / play.js get done (move shell inside the sub components), 
                     this can be fixed cleanly (full screen for shell is only needed for the final podium, 
                     which doesn't have the bubble background anyway */
    top: 0;
}

.shell .footer {
    bottom: 0;
}

.shell .headerSeparator, .shell .footerSeparator {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-block-start: 0;
    margin-block-end: 0;
    position: fixed;
}

.shell .headerSeparator {
    top: 10%;
}

.shell .footerSeparator {
    bottom: 10%;
}

.shell .contentFit, .shell .contentFullscreen {
    background-image: url(bubbles.svg);
    overflow: hidden;
    /* seems without position:fixed and width:100% it automatically becomes scrollable on mobile phone, even if the content is not overflowing */
    position: fixed;
    width: 100%;
}

.shell .contentFullscreen {
    height: 100%;
    padding-top: 0vh;
}

.shell .contentFit {
    height: 80%;
    margin-top: 10dvh;
}
