.playWaiting {
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playWaitingOtherPlayers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.playWaitingLabel {
    font-size: min(6vh, 6vw);
}

.playWaitingAvatar {
    font-size: min(15vh, 15vw)
}

.playWaitingBounceIn {
    animation: playWaitingBounceIn 2s;
}

@keyframes playWaitingBounceIn {
    0%, 30% {
        opacity: 0;
    }
    20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-.5em);
    }
    60% {
        transform: translateY(-.25em);
    }
    99% {
        opacity: 1;
    }
}

.playAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.playQuestion {
    text-align: center;
    font-size: 4vh;
    color: #0070c0;
}

.playCountdown {
    position: absolute;
    bottom: 2vh;
    right: 5vh;
    font-size: 4vh;
}
