@media (orientation: landscape) {
    .playQuestionAnswers {
        width: 50%;
        margin-left: 25%;
    }
}

@media (orientation: portrait) {
    .playQuestionAnswers {
        width: 100%;
        margin-left: 0%;
    }
}

.playWaitingBounceIn {
    animation: playWaitingBounceIn 2s;
}

@keyframes playWaitingBounceIn { 
    from { opacity: 0; }
    30% { opacity: 0; }
    20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-.5em);} 
    60% {transform: translateY(-.25em);} 
    99% { opacity: 1; }
}
