@media (orientation: landscape) {
    .playQuestionAnswers {
        width: 50%;
        margin-left: 25%;
    }
}

@media (orientation: portrait) {
    .playQuestionAnswers {
        width: 100%;
        margin-left: 0%;
    }
}