.stickyButton {
    position: relative;
    width: min(40vw, 35vh);
    cursor: pointer;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.stickyButton:hover {
    transform: scale(1.2);
}

.stickyThrowAway {
    animation-duration: 1s;
    animation-name: throwAway;
    visibility: visible;
    animation-fill-mode: forwards;
}

@keyframes throwAway {
    to {
        transform: scale(.1) translate(200%, -100%) rotate(720deg);
        opacity: 0;
    }
}

.stickyButton .textField {
    font-size: min(4vw, 3.5vh);
    color: white;
    position: absolute;
    left: 15%;
    right: 20%;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%) rotate(-3deg);
}
