.stickyCard {
    position: relative;
    width: max(20vw, 25.56vh);
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.stickyCard .textField {
    font-family: komika_textregular;
    font-size: max(2vw, 2.56vh);
    color: white;
    position: absolute;
    left: 15%;
    right: 20%;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%) rotate(-3deg);
}