.stickyCard {
    position: relative;
    width: min(40vw, 35vh);
}

.stickyCard .textField {
    font-size: min(4vw, 3.5vh);
    color: white;
    position: absolute;
    left: 15%;
    right: 20%;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%) rotate(-3deg);
}

.rightAnswer {
    opacity: 100%;
}

.wrongAnswer {
    opacity: 50%;
}

.count {
    position: relative;
    bottom: 5%;
    left: 50%;
    font-size: min(5vw, 5vh);
    color: black;
}