.hostWaiting {
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hostWaitingJoinUrl {
    display: flex;
    flex-direction: row;
    height: 3em;
}

.hostWaitingJoinUrl input {
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    margin-right: auto;
}

.hostWaitingJoinUrl button {
    font-size: 2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hostWaitingJoinUrl div {
    display: flex;
    align-items: center;
}

.hostWaitingSplitContainer {
    display: flex;
    align-items: center;
    height: calc(100% - 3em);
    padding-top: 1em;
    box-sizing: border-box;
}

.hostWaitingPlayerInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: max(10vh, 10vw);
    overflow-y: scroll;
    justify-content: center;
}

.hostWaitingPlayerInfo.hostWaitingNoPlayersYet {
    font-size: min(6vh, 6vw);
}

.hostStartButton {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.hostNextQuestionButton, .hostBackHomeButton {
    position: absolute;
    right: 0;
    bottom: 10%;
}

@media (orientation: landscape) {
    .hostWaitingSplitContainer {
        flex-direction: row;
    }
    .hostWaitingQrCode {
        margin-right: 1em;
        height: 100%;
    }
    .hostWaitingPlayerInfo {
        height: 100%;
    }
}

@media (orientation: portrait) {
    .hostWaitingSplitContainer {
        flex-direction: column;
    }
    .hostWaitingQrCode {
        height: calc(min(35vh, 100vw - 2em));
        margin-bottom: 1em;
    }
}

.hostWaitingBounceIn {
    animation: hostWaitingBounceIn 2s;
}

@keyframes hostWaitingBounceIn {
    0%, 30% {
        opacity: 0;
    }
    20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-.5em);
    }
    60% {
        transform: translateY(-.25em);
    }
    99% {
        opacity: 1;
    }
}

.hostAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hostQuestion {
    text-align: center;
    font-size: 4vh;
    color: #0070c0;
}

.hostCountdown {
    position: absolute;
    bottom: 2vh;
    right: 5vh;
    font-size: 4vh;
}

.hostPodium {
    height: 100%;
}
