.hostQuestionAndAnswers {
    margin-top: 10%;
}

.hostNextQuestionButton, .hostBackHomeButton {
    position: absolute;
    right: 0;
    bottom: 10%;
}

.hostAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hostQuestion {
    text-align: center;
    font-size: 4vh;
    color: #0070c0;
}

.hostCountdown {
    position: absolute;
    bottom: 2vh;
    right: 5vh;
    font-size: 4vh;
}

.hostPodium {
    height: 100%;
}