.hostQuestionAndAnswers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hostNextQuestionButton, .hostBackHomeButton {
    position: absolute;
    right: 0;
    bottom: 10%;
}

.hostAnswers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hostQuestion {
    text-align: center;
    font-size: 4vh;
    color: #0070c0;
}

.hostCountdown {
    position: absolute;
    bottom: 2vh;
    right: 4vh;
    font-size: 5vh;
}

.hostPodium {
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.hostSwitch {
    position: absolute;
    left: 46%;
    bottom: 15%;
    color: lightgray;
    font-size: 2vh;
}

.hostSwitch:hover {
    color: white;
    cursor: pointer;
}