.transitionButton {
    position: absolute;
    right: 2vw;
    bottom: 12vh;
}

.transitionButton button {
    background: #0070c0;
    color: white;
    font-family: inherit;
    font-size: min(4vw, 3.5vh);
    border-radius: min(1.6vw, 1.4vh);
    width: min(40vw, 35vh);
    height: min(10vw, 8.75vh);
    border-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.transition {
    height: 100%;
}
