.history {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.historyBack {
    color: inherit;
    text-decoration: none;
}

.history .items {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.history .item {
    color: white;
    position: relative;
    height: min(28vw, 28vh);
    width: min(28vw, 28vh);
    border-style: none;
    border-radius: min(1.5vw, 1.5vh);
    font-size: min(3.5vw, 3.5vh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.history .item .numberOfPlayers {
    position: absolute;
    bottom: 5%;
    right: 6%;
    font-size: min(2vw, 1.5vh);
    color: white;
    padding: 1%;
    margin: 1%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.history .item .playedTimeAgo {
    position: absolute;
    bottom: 5%;
    left: 6%;
    font-size: min(2vw, 1.5vh);
    color: white;
    padding: 1%;
    margin: 1%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.history .item .deleteButton {
    background-color: transparent;
    color: white;
    border-style: none;
    position: absolute;
    font-size: min(3vh, 3vw);
    top: 2%;    
    right: 5%;
    padding-right: 0px;
}

.history .score {
    background-color: transparent;
    border-style: none;
    font-size: min(3vh, 3vw);
    color: inherit;
    text-align: left;
}
